@font-face {
    font-family: 'Google Sans';
    src: url('GoogleSans-Regular.eot');
    src: url('GoogleSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('GoogleSans-Regular.woff2') format('woff2'),
        url('GoogleSans-Regular.woff') format('woff'),
        url('GoogleSans-Regular.ttf') format('truetype'),
        url('GoogleSans-Regular.svg#GoogleSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('GoogleSans-Bold.eot');
    src: url('GoogleSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('GoogleSans-Bold.woff2') format('woff2'),
        url('GoogleSans-Bold.woff') format('woff'),
        url('GoogleSans-Bold.ttf') format('truetype'),
        url('GoogleSans-Bold.svg#GoogleSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('GoogleSans-Medium.eot');
    src: url('GoogleSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('GoogleSans-Medium.woff2') format('woff2'),
        url('GoogleSans-Medium.woff') format('woff'),
        url('GoogleSans-Medium.ttf') format('truetype'),
        url('GoogleSans-Medium.svg#GoogleSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

